:root {
    --main-brand-color: #FF005A;
    --main-main-dark: #FF005A;
}

@font-face {
    font-family: 'highvoltage';
    src: url('../fonts/highvoltage.ttf');
}

html {
    background: rgb(60, 60, 60);
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #FF005A;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: rgb(60, 60, 60);
    height: 100%;
    font-family: 'Newsreader', serif;
    color: #2A2A25;
}

#mainLogo {
    margin: 0 auto;
    display: block;
}

header {
    background-color: var(--main-brand-color);
    color: rgba(255, 255, 255, 0.9);
    padding-bottom: 25px;
}

.headerContainer {
    text-align: center;

}

main {
    background: #e3e3e3;
    color: rgb(42, 42, 42);
    padding: 20px;
}

.mainContainer {
    padding: 10px;
}

footer {
    background: rgb(70, 70, 70);
}

.footerContainer {
    color: rgba(255, 255, 255, 0.4);
    padding: 30px;
    text-align: center;
}

#searchBar {
    border: solid 4px rgba(41, 41, 36, 0.6);
    color: #2a2a25;
    border-radius: 16px 8px 8px 16px;
    padding: 15px;
    width: ;
}

#searchButton {
    background: #2A2A25;
    /* border-radius: 20px 0px 20px 20px; */
    padding: 15px;
    color: white;
    width: 105px;
    border: none;
}

.majorHeading {
    font-family: 'highvoltage' !important;
    color: #333;
    padding: 2px;
    border-bottom: solid 3px rgba(182, 182, 182, 0.3);
    margin-bottom: 1px;
    font-size: 50px;
}

.heading2 {
    font-family: 'highvoltage' !important;
    color: #333;
    padding: 1px;
    border-bottom: solid 3px rgba(182, 182, 182, 0.3);
    margin-bottom: 10px;
}

.quickStatsHeading {
    font-family: 'highvoltage' !important;
    color: #333;
    padding: 1px;
    border-bottom: solid 3px rgba(182, 182, 182, 0.3);
    margin-bottom: 10px;
    color: #65655B;
}

p.renderedText1 {
    font-family: 'Newsreader', serif;
    font-size: 24px;
    padding: 0px !important;
    line-height: 1.3em;
}

.bottomFooterLogo {
    opacity: 0.3;
    margin: 0 auto;
    display: block;
}

.navigationBar>button {
    font-family: 'highvoltage' !important;
    margin-top: 10px;
    border: none;
    background: none;
    border-bottom: dotted 1px rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.8);
}

form {
    margin: 0 auto;
    display: block;
    text-align: center;
    border: solid 4px rgba(255, 255, 255, 0.33);
    display: block;
    width: 523px;
    margin: 0 auto;
    margin-top: -15px;
    padding: 4px;
    border-radius: 26px;
}

#searchBar {
    width: 400px;
    border-radius: 15px 0px 0px 15px;
    height: 49px;
    margin-top: -2px;
}

#searchBar:active {
    border-radius: 15px 0px 0px 15px;
    border: none;
}

#searchButton {
    border-radius: 0px 15px 15px 0px;
    height: 51px;
    margin-left: -5px;
}



#searchButton:active {
    background: #ff2C7A;
    border: solid 2px;
}

.quickStatsContainer {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    width: 98vw;
    margin-top: 15px;
}

#imdbContainer {
    max-width: 100px;
    margin-right: 15px;
}

#ratingContainer {
    max-width: 100px;

}

.mainMovieImage {
    max-width: 90vw;
}


#trendingBox {
    background-color: #444444;
    /*    font-family: 'Poppins', sans-serif;*/
    font-weight: 300;
    font-size: 0.9em;
    font-family: 'Newsreader', serif;
}






/* MOBILE */
@media only screen and (max-width: 600px) {

    #searchBar {
        border: solid 2px rgb(42, 42, 37, 0.9);
        color: #2a2a25;
        border-radius: 20px 0px 0px 20px;
        padding: 15px;
        width: 70%;
    }

    #searchButton {
        background: rgb(42 42 37 / 71%);
        border-radius: 0px 16px 16px 0px;
        padding: 12px;
        color: white;
        width: 80px;
        border: none;
        opacity: 0.9;
    }

    #searchButton:active {
        background: #ff2C7A;
        border: solid 2px;
    }

    form {
        border: solid 4px rgba(255, 255, 255, 0.43);
        display: block;
        width: 79%;
        margin: 0 auto;
        margin-top: -9px;
        padding: 4px 2px 4px 2px;
        border-radius: 26px;
        margin-bottom: 20px;
    }

    .bottomFooterLogo {
        max-width: 200px;
    }

    p.heading2 {
        font-size: 40px;
    }
}

.headerContainer {
    width: 100%;
    margin: 0;
    padding: 10px;
}

header {
    padding: 0px !important;
    width: 100%;
    margin: 0px;
}

.headerGradient {
    background: #FF005B;
    background: -webkit-radial-gradient(bottom, #FF005B, #A90545);
    background: -moz-radial-gradient(bottom, #FF005B, #A90545);
    background: radial-gradient(to top, #FF005B, #A90545);
}



/* MARQUEE STYLES FROM */


.marqueecontainer {
    width: 100%;
    background: #4FC2E5;
    float: left;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    height: 45px;
    position: relative;
    cursor: pointer;

}

.marquee-sibling {
    padding: 0;
    background: #3BB0D6;
    width: 20%;
    height: 45px;
    line-height: 42px;
    font-size: 12px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    float: left;
    left: 0;
    z-index: 2000;

}

.marquee,
*[class^="marquee"] {
    display: inline-block;
    white-space: nowrap;
    position: absolute;

}

.marquee {
    margin-left: 25%;
}

.marquee-content-items {
    display: inline-block;
    padding: 5px;
    margin: 0;
    height: 45px;
    position: relative;

}

.marquee-content-items li {
    display: inline-block;
    line-height: 35px;
    color: #fff;

}

.marquee-content-items li:after {
    content: "|";
    margin: 0 1em;

}