:root {
    --main-brand-color: #FF005A;
}

@font-face {
    font-family: 'highvoltage';
    src: url('./fonts/myfont.woff2') format('woff2');
}

body {
    background: black;
    height:100%;
}

header {
    background-color: var(--main-brand-color);
    color: rgba(255, 255, 255, 0.9);
}

main {
    background: #e3e3e3;
    color: rgb(42, 42, 42);
}


footer {
    background: rgb(70, 70, 70);
}

.footerContainer{
    color:rgba(255,255,255,0.4);
    padding:30px;
}

#searchBar{
    border:solid 4px black;
    border-radius:8px;
    padding 15px;
}